
src/.vs/nlCryptoLatin/v16/.suo
src/bin/Debug/app.publish/nlCrypto.exe
src/bin/Debug/nlCrypto.application
src/bin/Debug/nlCrypto.exe
src/bin/Debug/nlCrypto.exe.config
src/bin/Debug/nlCrypto.exe.manifest
src/bin/Debug/nlCrypto.pdb
src/bin/Release/app.publish/nlCrypto.exe
src/bin/Release/nlCrypto.application
src/bin/Release/nlCrypto.exe.config
src/bin/Release/nlCrypto.exe.manifest
src/bin/Release/nlCrypto.pdb
src/bin/Release/PrivateKey.xml
src/bin/Release/PublicKey.xml
src/packages/System.Collections.4.3.0/ThirdPartyNotices.txt
src/packages/System.Collections.4.3.0/System.Collections.4.3.0.nupkg
src/packages/System.Collections.4.3.0/ref/xamarinwatchos10/_._
src/packages/System.Collections.4.3.0/ref/xamarintvos10/_._
src/packages/System.Collections.4.3.0/ref/xamarinmac20/_._
src/packages/System.Collections.4.3.0/ref/xamarinios10/_._
src/packages/System.Collections.4.3.0/ref/wpa81/_._
src/packages/System.Collections.4.3.0/ref/wp80/_._
src/packages/System.Collections.4.3.0/ref/win8/_._
src/packages/System.Collections.4.3.0/ref/portable-net45+win8+wp8+wpa81/_._
src/packages/System.Collections.4.3.0/ref/netstandard1.3/zh-hant/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.3/zh-hans/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.3/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.3/System.Collections.dll
src/packages/System.Collections.4.3.0/ref/netstandard1.3/ru/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.3/ko/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.3/ja/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.3/it/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.3/fr/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.3/es/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.3/de/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.0/zh-hant/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.0/zh-hans/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.0/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.0/System.Collections.dll
src/packages/System.Collections.4.3.0/ref/netstandard1.0/ru/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.0/ko/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.0/ja/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.0/it/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.0/fr/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.0/es/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netstandard1.0/de/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netcore50/zh-hant/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netcore50/zh-hans/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netcore50/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netcore50/System.Collections.dll
src/packages/System.Collections.4.3.0/ref/netcore50/ru/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netcore50/ko/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netcore50/ja/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netcore50/it/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netcore50/fr/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netcore50/es/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/netcore50/de/System.Collections.xml
src/packages/System.Collections.4.3.0/ref/net45/_._
src/packages/System.Collections.4.3.0/ref/MonoTouch10/_._
src/packages/System.Collections.4.3.0/ref/MonoAndroid10/_._
src/packages/System.Collections.4.3.0/lib/xamarinwatchos10/_._
src/packages/System.Collections.4.3.0/lib/xamarintvos10/_._
src/packages/System.Collections.4.3.0/lib/xamarinmac20/_._
src/packages/System.Collections.4.3.0/lib/xamarinios10/_._
src/packages/System.Collections.4.3.0/lib/wpa81/_._
src/packages/System.Collections.4.3.0/lib/wp80/_._
src/packages/System.Collections.4.3.0/lib/win8/_._
src/packages/System.Collections.4.3.0/lib/portable-net45+win8+wp8+wpa81/_._
src/packages/System.Collections.4.3.0/lib/net45/_._
src/packages/System.Collections.4.3.0/lib/MonoTouch10/_._
src/packages/System.Collections.4.3.0/lib/MonoAndroid10/_._
src/packages/System.Collections.4.3.0/dotnet_library_license.txt
src/packages/System.Collections.4.3.0/.signature.p7s
src/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
src/obj/Release/nlCryptoLatin.csprojAssemblyReference.cache
src/obj/Release/nlCryptoLatin.csproj.GenerateResource.cache
src/obj/Release/nlCryptoLatin.csproj.FileListAbsolute.txt
src/obj/Release/nlCryptoLatin.csproj.CoreCompileInputs.cache
src/obj/Release/nlCrypto.Properties.Resources.resources
src/obj/Release/nlCrypto.pdb
src/obj/Release/nlCrypto.mainForm.resources
src/obj/Release/nlCrypto.exe.manifest
src/obj/Release/nlCrypto.exe
src/obj/Release/nlCrypto.application
src/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
src/obj/Release/DesignTimeResolveAssemblyReferences.cache
src/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
src/obj/Debug/nlCryptoLatin.csprojAssemblyReference.cache
src/obj/Debug/nlCryptoLatin.csproj.GenerateResource.cache
src/obj/Debug/nlCryptoLatin.csproj.FileListAbsolute.txt
src/obj/Debug/nlCryptoLatin.csproj.CoreCompileInputs.cache
src/obj/Debug/nlCrypto.Properties.Resources.resources
src/obj/Debug/nlCrypto.pdb
src/obj/Debug/nlCrypto.mainForm.resources
src/obj/Debug/nlCrypto.exe.manifest
src/obj/Debug/nlCrypto.exe
src/obj/Debug/nlCrypto.application
src/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/bin/Release/nlCrypto5v1.exe
versions/cb64aesb1.exe
versions/nlCryptoLatin2v1.exe
